---
import Layout from '@layouts/Layout.astro';
import AnchorBaseSelf from '@components/AnchorBaseSelf.astro';

interface TocItem {
  href: string;
  label: string;
}

const tocList: TocItem[] = [
  {
    href: 'enterkeyhint',
    label: 'enterkeyhint',
  },
  {
    href: 'form_sample',
    label: 'form sample',
  },
  {
    href: 'type_file',
    label: 'type file',
  },
];
---

<Layout>
	<main class="main">
		<div class="toc">
			<h1 class="toc__title">table of contents</h1>
			<ul class="toc__list">
				{tocList.map(({ href, label }) => (
					<AnchorBaseSelf
						href={href}
						label={label}
					/>
				))}
			</ul>
		</div>
	</main>
</Layout>

<style>
.main {
	padding: var(--theme-gap-width);
}

.toc__title {
	font-size: 1.2rem;
	padding-bottom: 0.8rem;
	position: relative;
	text-transform: capitalize;
	translate: -1.25rem 0;
	&::before {
		content: '・';
	}
}

.toc__list {
  padding-left: 0.1rem;
}
</style>