---
import SvgArrowChevronRight from '@components/SvgArrowChevronRight.astro';

interface Props {
	as?: 'li' | 'p';
  href: string;
  label: string;
}

const {
	as = 'li',
	href,
	label
} = Astro.props;
const Tag = as;
---
<Tag class="anchorBaseSelf">
	<a
		href={href}
		class="anchorBaseSelf__link"
		target="_self"
	>
		<span class="anchorBaseSelf__label">{label}</span>
		<span class="anchorBaseSelf__icon"><SvgArrowChevronRight /></span>
	</a>
</li>

<style>
.anchorBaseSelf {
	margin-top: 0.4rem;
}

.anchorBaseSelf__link {
	border-bottom: 1px solid;
	color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
	font-size: 0.8rem;
	line-height: 1.4rem;
	text-decoration: none;
	transition: opacity 300ms var(--ease-in-out-quad);
	&:hover {
		opacity: 0.9;
		.anchorBaseSelf__icon {
			translate: 0.2rem 0;
			transition: translate 300ms var(--ease-in-out-quad);
		}
	}
}

.anchorBaseSelf__label {
  pointer-events: none;
}

.anchorBaseSelf__icon {
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	flex-shrink: 0;
  pointer-events: none;
	transition: translate 100ms var(--ease-out-quad);
	width: 0.8rem;
}
</style>