---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<div class="InputItemVertical">
	<h3 class="InputItemVertical__title">
		{ title }
	</h3>
	<div class="InputItemVertical__slot">
		<slot />
	</div>
</div>

<style>
.InputItemVertical__title {
	font-size: 0.9rem;
	font-weight: 700;
	margin-top: 0.3rem;
}

.InputItemVertical__slot {
	margin-top: 0.4rem;
}
</style>